<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Adauga angajat</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="fg" novalidate>
    <div class="form-group">
      <label for="name">Nume</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
      >
    </div>
    <div class="form-group" *ngIf="isEdit">
      <label for="step">Treapta (0 / I / II / III)</label>
      <input
        type="text"
        class="form-control"
        id="step"
        formControlName="step"
      >
    </div>

    <div class="form-group">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="Data angajarii (zi/luna/an)"
          name="dp"
          formControlName="hireDate"
          ngbDatepicker
          #hireDate="ngbDatepicker"
          (click)="hireDate.toggle()"
        >
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="hireDate.toggle()"
            type="button"
          >
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button" class="btn btn-primary"
    (click)="activeModal.dismiss()"
  >
    Inchide
  </button>
  <button
    type="button" class="btn btn-primary"
    (click)="onSubmit()"
    [disabled]="fg.invalid"
  >
    Salveaza
  </button>
</div>
